.controlsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.btnPrev,
.btnPlay,
.btnNext,
.btnRepeat,
.btnShuffle {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.btnPrev {
  margin-right: 23px;
}

.btnPrevSvg {
  width: 15px;
  height: 14px;
}

.btnPlay {
  margin-right: 23px;
}

.btnPlaySvg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.btnNext {
  margin-right: 28px;
  fill: #a53939;
}

.btnNextSvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.btnRepeat {
  margin-right: 24px;
}

.btnRepeatSvg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.btnShuffle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btnShuffleSvg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

._btnIcon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

._btnIcon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

._btnIcon:active .trackPlay__likeSvg,
._btnIcon:active .trackPlay__dislikeSvg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}
